<div class="row">
    <div class="col-md-6">
        <h3 class="text-uppercase fw-bold">Biga</h3>
        <p>Flour: {{ .Biga.Flour }} g.</p>
        <p>Water: {{ .Biga.Water }} g.</p>
        <p>Dry Yeast: {{ .Biga.InstantDryYeast }} g.</p>
        <p><b>OR</b></p>
        <p>Fresh Yeast: {{ .Biga.FreshYeast }} g.</p>
    </div>
    <div class="col-md-6">
        <h3 class="text-uppercase fw-bold">Main Dough</h3>
        <p>Biga: 100%</p>
        <p>Flour: {{ .MainDough.Flour }} g.</p>
        <p>Water: {{ .MainDough.Water }} g.</p>
        <p>Salt: {{ .MainDough.Salt }} g.</p>
    </div>
</div>