<!DOCTYPE html>
<html>
  {{ template "head.html" . }}
  <body>
    {{ template "navbar.html" . }}
    <div class="content-wrapper">
      <div class="container mt-4" style="max-width: 600px;">
        <form hx-post="/dough/poolish" hx-trigger="click" hx-target="#resultPoolish">
          <div class="mb-3">
            <label for="doughBallAmountPoolish" class="form-label">Dough Ball Amount:</label>
            <input type="number" class="form-control" id="doughBallAmountPoolish" name="doughBallAmount" value="1" min="1">
          </div>
          <div class="mb-3">
            <label for="hydrationPoolish" class="form-label">Hydration (50-100):</label>
            <input type="number" class="form-control" id="hydrationPoolish" name="hydration" value="65" min="50" max="100">
          </div>
          <div class="mb-3">
            <label for="doughBallWeightPoolish" class="form-label">Dough Ball Weight (g.):</label>
            <input type="number" class="form-control" id="doughBallWeightPoolish" name="doughBallWeight" value="270" min="100" max="300">
          </div>
          <div class="mb-3">
            <label for="poolishPercentagePoolish" class="form-label">Poolish Percentage (0-100):</label>
            <input type="number" class="form-control" id="poolishPercentagePoolish" name="poolishPercentage" value="50" min="0" max="100">
          </div>
          <button type="submit" class="btn btn-primary" id="doughButton">Calculate</button>
        </form>
        <div class="mt-4" id="resultPoolish"></div>
      </div>
    </div>
    {{ template "footer.html" . }}
  </body>
</html>