<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<nav class="navbar navbar-expand-md bg-body py-3">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <span class="material-symbols-outlined me-1">local_pizza</span>
      <span>Pizza-Punk</span>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-2">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navcol-2" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dough" data-bs-toggle="dropdown" aria-expanded="false">Dough</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/dough/direct">Direct</a></li>
            <li><a class="dropdown-item" href="/dough/poolish">Poolish</a></li>
            <li><a class="dropdown-item" href="/dough/biga">Biga</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="sauce" data-bs-toggle="dropdown" aria-expanded="false">Sauce</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/sauce/tomato">Tomato</a></li>
            <li><a class="dropdown-item" href="/sauce/white" disabled>White</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>