<nav class="navbar navbar-expand-md bg-body py-3">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <span class="material-symbols-outlined">
local_pizza
</span>
      <span>Pizza-Punk</span>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-2">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navcol-2" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class='nav-link {{if eq .currentPath "/dough/direct"}}active{{end}}' href="/dough/direct">Direct</a>
        </li>
        <li class="nav-item">
          <a class='nav-link {{if eq .currentPath "/dough/poolish"}}active{{end}}' href="/dough/poolish">Poolish</a>
        </li>
        <li class="nav-item">
          <a class='nav-link {{if eq .currentPath "/dough/biga"}}active{{end}}' href="/dough/biga">Biga</a>
        </li>
      </ul>
    </div>
  </div>
</nav>