<!DOCTYPE html>
<html>

<head>
    <title>Pizza Dough Calculator using Biga</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>

<body>
    <h1>Biga Pizza Dough</h1>
    <form hx-post="/dough/biga" hx-trigger="click" hx-target="#resultBiga">
        <div>
            <label for="doughBallAmountBiga">Dough Ball Amount:</label>
            <input type="number" id="doughBallAmountBiga" name="doughBallAmount" value="1">
        </div>
        <div>
            <label for="hydrationBiga">Hydration (0-100):</label>
            <input type="number" id="hydrationBiga" name="hydration" value="65">
        </div>
        <div>
            <label for="doughBallWeightBiga">Dough Ball Weight (g.):</label>
            <input type="number" id="doughBallWeightBiga" name="doughBallWeight" value="250">
        </div>
        <button type="submit">Calculate</button>
    </form>
    <div id="resultBiga"></div>
    <p><a href="/">Go to Home</a></p>
</body>

</html>
