<!DOCTYPE html>
<html>
<head>
    <title>Pizza Dough Calculator <3</title>

</head>
<body>
    <h1>Welcome to the Pizza Dough Calculator</h1>
    <p>Ready to make some dough? Let's get started!</p>
    <a href="/dough/direct">Direct Dough Calculator</a><br>
    <a href="/dough/poolish">Dough Calculator Using Poolish</a><br>
    <a href="/dough/biga">Dough Calculator Using Biga</a><br><br>
<pre>
                         ___
                        |  ~~--.
                        |%=@%%/
                        |o%%%/
                     __ |%%o/
               _,--~~ | |(_/ ._
            ,/'  m%%%%| |o/ /  `\
           /' m%%o(_)%| |/ /o%%m `\
         /' %%@=%o%%%o|   /(_)o%%% `\
        /  %o%%%%%=@%%|  /%%o%%@=%%  \
       |  (_)%(_)%%o%%| /%%%=@(_)%%%  |
       | %%o%%%%o%%%(_|/%o%%o%%%%o%%% |
       | %%o%(_)%%%%%o%(_)%%%o%%o%o%% |
       |  (_)%%=@%(_)%o%o%%(_)%o(_)%  |
        \ ~%%o%%%%%o%o%=@%%o%%@%%o%~ /
         \. ~o%%(_)%%%o%(_)%%(_)o~ ,/
           \_ ~o%=@%(_)%o%%(_)%~ _/
             `\_~~o%%%o%%%%%~~_/'
                `--..____,,--'
    </pre>
</body>
</html>