<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Dough Calculator</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>

  <style>
    .center-flexbox {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

  <body>
    {{ template "navbar.html" . }}
    <div class="container mt-4 center-flexbox">
      <img src="/img/pizza.png" width="50%" height="auto" alt="Image of a pizza slice">
    </div>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>